/* $Id$ */

.series-content {
  border: 1px solid #d5d5d5;
  margin-bottom: 1em;
  padding: .5em;
}

.series-content .intro {
  text-align: center;
  font-style: italic;
}

.series-content .next {
  float: right;
}

.series-content .previous {
  float: left;
}

.series-content h4 {
  text-align: center;
  margin: 0;
}

